*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*PALETTE COLORI 
#0084FD
#B5DDFF
#9792E4
#FDC15F
#333333 */

.pad1 {
    padding:2.5em 2em;
}

.centered{
    text-align: center;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #0084FD;
}

.header_container {
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.demo { 
    min-height: 30vh;
}

.demo h2 {
    color:#0084FD;
    margin-bottom: 20px; 
}

.demo p {
    color: #4c4c4c;
    font-size: 16px;
    line-height: 30px;
    margin: 30px auto;
}

.bwbutton {
    
    background-color: #0084FD;
    padding:0.5em 2em;
    text-decoration: none;
    color: white;
    border-radius: 50px;
       
}

.demo img{
    width: 100%;
    margin-top: 30px;
}

.democard {
    width: 100%;
    min-height: 15vh;
    background-color: #B5DDFF;
    margin: 2vh auto;
    padding: 20px 15px;
    border-radius: 20px;
}

.long{
    padding-bottom: 0;
}

.purplebg{
    background-color: #9792E4;

}

.planning {
    
    min-height: 30vh;
}

.planningitems {
    width: 100%;
    min-height: 15vh;
    margin: 2vh auto;
    
}

.planningcard {
    width: 100%;
    min-height: 15vh;
    background-color: white;
    
    margin: 2vh auto;
}

.planning img {
    width:100%
}

.testimonial {
    
    min-height: 30vh;
    
}

.testimonialcard {
    width: 100%;
    min-height: 15vh;
    background-color:#9792E4;
    
    margin: 2vh auto;
}

.benefit {
    
    min-height: 30vh;
}

.benefitcard {
    width: 100%;
    min-height: 15vh;
    background-color: white;
    
    margin: 2vh auto;
}

.about {
    
    min-height: 30vh;
}

.aboutcard {
    width: 100%;
    min-height: 15vh;
    background-color: aqua;
    
    margin: 2vh auto;
}

.aboutcardp {
    width: 100%;
    margin: 2vh auto;
}

.started {
    
    min-height: 30vh;
    text-align: center;
}

footer  {
    text-align: center;
}

/* tablet */
@media screen and (min-width:768px){
    .demo {
        display: flex;
        flex-wrap: wrap;
    }

    .democard {
        width: calc(100%/3 - 1vw);
    }

    .long {
        width: calc(((100% / 3) * 2) - 1vw);
    }

    .benefit {
        display: flex;
        flex-wrap: wrap;
    }

    .benefit h2 {
        width: 100%;
        text-align: center;
    }

    .benefitcard {
        width: calc(100%/2 - 2vw);
    }

    .about {
        display: flex;
    }

    .about div {
        width: calc(50% - 1vw);
    }

}

/* Desktop */
@media screen and (min-width:992px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    .planning {
        display: flex;
    }

    .planningcard ,
    .planningitems {
        width: 48%;
    }
    .benefitcard {
        width: calc(100%/3 - 2em);
    }

}