*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*PALETTE COLORI 
#0084FD
#B5DDFF
#9792E4
#FDC15F
#333333 */

.pad1 {
    padding:2.5em 2em;
}

.centered{
    text-align: center;
}

body {
    font-family: sans-serif;
    line-height: 30px;
}

header {
    background-color: #0084FD;
}

.header_container {
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.white_button_nav {
    background-color: #ffffff;
    padding:0.2em 0.8em;
    text-decoration: none;
    font-weight: 100;
    color: #000000;
    border-radius: 50px;

}

.white_button_nav:hover{
    transition: 0.3s;
    font-size: 1.1em;
    background-color: #4c4c4c;
    color: white;

}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 15px;
    display: none;
}

nav a:hover{
    transition: 0.2s;
    font-size: 1.3em;
}

.demo h2 {
    color:#0084FD;
    margin: 20px auto; 
}

.demo p {
    color: #4c4c4c;
    font-size: 16px;
    margin: 30px auto;
}

.bwbutton {
    
    background-color: #0084FD;
    padding:0.5em 2em;
    text-decoration: none;
    color: white;
    border-radius: 50px;
       
}

.bwbutton:hover{
    transition: 0.3s;
    font-size: 1.2em;
    background-color: white;
    color:#0084FD

}

.demo img{
    width: 100%;
    margin-top: 30px;
}

.democard {
    width: 100%;
    background-color: #B5DDFF;
    margin: 2vh auto;
    padding: 20px 15px;
    border-radius: 20px;
    text-align: center;
}

.democard div > i{
    font-size: 80px;
    color: #0084FD;
}

.long{
    padding-bottom: 0;
    text-align: left;
}

.purplebg{
    background-color: #9792E4;

}

.purplebutton {
    
    background-color:#9792E4;
    padding:0.5em 2em;
    text-decoration: none;
    color: white;
    border-radius: 50px;
       
}

.purplebutton:hover{
    transition: 0.3s;
    font-size: 1.1em;
    color:#9792E4;
    background-color: #ffffff;
    border: solid 2px #67639d;
}

.planningitems {
    width: 100%;
    min-height: 15vh;
    margin: 2vh auto;
    
}

.planningcard {
    width: 100%;
    
    background-color: white;
    
    margin: 2vh auto;
}

.planning img {
    width:100%;
}

.planningitems {
    color: white;
}

.m10 {
    margin: 10px auto;
}

.m20 {
    margin: 20px auto;
}

.m30 {
    margin: 30px auto;
}

.m50b{
    margin-bottom: 50px;
}

.planningcard{
    border-radius: 30px;
    text-align: center;
    padding:1em
}

.planningcard button{
    background-color: #9792E4;
    border: none;
    border-radius: 60%;
    padding:1em

}

.testimonial {
    text-align: center;
}

.testimonial h2{
    color: #9792E4;
    font-size: 40px;
}

.testimonial h3 {
    font-style: normal;
    font-size: 18px;
}

.testimonial h4{
    font-weight: 100;
    font-size: 20px;
    
}

.testimonialcard {
    width: 100%;
    background-color:#9792E4;
    margin: 2vh auto;
    border-radius: 30px;
    padding: 20px ;
    color: white;
}

.testimonialcard img {
    width:150px;
    height: 150px;
    border-radius: 60%;
    object-fit:cover;
    margin: 20px auto;
}

.benefitcard {
    width: 100%;
    min-height: 15vh;
    background-color: white;
    padding:20px;
    margin: 2vh auto;
    border-radius: 40px;
    
}

.benefit h2{
    font-size: 40px;
    color:white;
    text-align: center;
}

.benefitcard h3{
    font-size: 45px;
    color: #9792E4;
}

.benefitcard h4{
    font-size: 30px;
    color: #9792E4;
}

.benefitcard p{
    color:#4c4c4c
}


.about h2{
    font-size: 40px;
    color:#9792E4;
}

.about h3{
    font-size: 20px;
    color:#9792E4;
}

.aboutcard {
    position:relative;
    width: 100%;
    margin: 2vh auto;
}

#quoted {
    position: relative;
    width:150px;
    height: 150px;
    border-radius: 60%;
    object-fit:cover;
    margin: 20px auto;
    
}

.aboutcard > i {
    font-size: 50px;
    position: relative;
    bottom: 130px;
    right: 50px;
    color:#9792E4;
    
}

.aboutcardp {
    width: 100%;
    margin: 2vh auto;
    
}

.started {
    color:white;
    min-height: 30vh;
    text-align: center;
}

.started p {
    width: 50%;
}

.started h2{
    font-weight: 100;
    font-size: 20px;
    color: rgb(211, 211, 211);
}

.started h4 {
    font-size: 35px;
}

.started h5 {
    font-size: 12px;
}

.started strong{
    font-size: 80px;
    color:#FDC15F;
}

.whitebutton {
    background-color: #ffffff;
    padding:1.5em 4em;
    text-decoration: none;
    font-weight: 800;
    color: #9792E4;
    border-radius: 50px;
}

.whitebutton:hover{
    transition: 0.3s;
    font-size: 1.1em;
    color:#ffffff;
    background-color: #9792E4;
    border: solid 2px #67639d;
}

footer  {
    text-align: center;
    background-color: #4c4c4c;
    color: white;
    
}

footer p{
    font-size: 12px;
    display: block;
    width: 25%;
    margin: 0 auto
}

footer a {
    color: #9792E4;
}



/* tablet */
@media screen and (min-width:768px){
    .demo {
        display: flex;
        flex-wrap: wrap;
    }

    .democard {
        width: calc(100%/3 - 1vw);
    }

    .long {
        width: calc(((100% / 3) * 2) - 1vw);
    }

    .benefit {
        display: flex;
        flex-wrap: wrap;
    }

    .benefit h2 {
        width: 100%;
        text-align: center;
    }

    .benefitcard {
        width: calc(100%/2 - 2vw);
    }

    .about {
        display: flex;
    }

    .aboutcardp {
        width:50%;
    }

    .aboutcard {
        width: 35%;
        height: fit-content;
    }

}

/* Desktop */
@media screen and (min-width:992px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    nav a{
        display: inline;
    }

    #burger{
        display: none;
    }
        

    .planning {
        display: flex;
        align-items: flex-end;
    }

    .long{
        display: flex;
        justify-content: space-around;
       
    }

    .long img {
        width: 45%;
        object-fit: fill;
    }
    
    .democard{
        height: 330px;
        
    }

    .testimonialcard{
        display: flex;
        align-items: center;
        
    }

    .testimonialcard img{
        margin:20px;
    }

    .testimonialcard > div {
        text-align: left;
        margin:0
    }

    .planningcard {
        width: 30%;
        height: fit-content;
    }
    .planningitems {
        width: 48%;
    }
    .benefitcard {
        width: calc(100%/3 - 2em);
    }

    .aboutcard{
        display: flex;
        flex-direction: column;
        width: 25% ;
        align-items:start;
    }

    .aboutcard i {
        left:150px;
        bottom:170px
    }

    .aboutcard img{
        margin:0
    }

}